*
    margin: 0
    padding: 0
    box-sizing: border-box

.titulo
    font-size: 2.5em
    text-align: center
    margin: 50px 0
    font-weight: 300

.contenedor
    width: 80%
    //max-width: 1000px
    margin: auto

body
    font-size: 16px
    font-family: 'Roboto', sans-serif
    header
        width: 100%
        height: 500px
        background-image: url('../img/foto2.jpg')
        background-position: top 0
        background-size: cover
        background-repeat: no-repeat
        background-attachment: fixed
        .contenedor
            margin: auto
            width: 80%
            .contenedor_logo_menu
                padding: 20px 0
                display: flex
                justify-content: space-between
                .logo
                    h1
                        font-size: 3em
                        color: white
                .nav-menu
                    a
                        font-size: 1.3em
                        font-weight: 400
                        line-height: 50px
                        color: white
                        text-decoration: none
                        margin-left: 30px
    .catalogo
        margin-bottom: 50px
        .contenedor
            width: 80%
            margin: auto
            .productos
                width: 100%
                display: flex
                flex-direction: row
                flex-wrap: wrap
                justify-content: space-between
                .producto
                    margin-bottom: 40px
                    width: 23%
                    background: white
                    box-shadow: 0 0 5px gray
                    .foto
                        width: 100%
                        transition: all .3 ease
                        &:hover
                            img
                                opacity: .8
                        img
                            width: 100%
                            display: block
                            vertical-align: top
                            transition: all 0.3 ease

                    .texto-descriptivo
                        padding: 25px
                        color: #000
                        overflow: hidden
                        .nombre
                            font-size: 1.5em
                            float: left
                        .precio
                            font-size: 1.5em
                            font-weight: 700
                            color: crimson
                            text-align: right
                        .descripcion
                            margin-top: 15px
                            width: 100%

    .info
        background: url('../img/foto1.jpg'), gray
        background-position: center
        background-repeat: no-repeat
        //background-attachment: fixed
        background-size: cover
        .texto
            width: 30%
            padding: 70px 0
            h1
                font-weight: 700
                font-size: 3em
                color: white
                margin-bottom: 20px
            p
                color: white

    .galeria
        .fotos
            width: 100%
            background: lightblue
            height: 600px

    .ubicacion
        width: 100%
        margin-bottom: 50px
        .contenedor
            display: flex
            justify-content: space-between
            .ubicacion-datos
                width: 45%
                p
                    font-size: 1.1em
                    text-align: center
                    font-weight: 400
                    //line-height: 40px
                    padding: 40px 0
                    border-bottom: 1px solid rgba(gray, .3)
                .direccion
                    padding: 40px 0
                    border-top: 1px solid rgba(gray, .3)
            .mapa
                box-shadow: 0 0 5px gray
                width: 50%
                iframe
                    width: 100%
                    height: 300

    footer
        width: 100%
        background: rgba(black, .7)
        p
            padding: 40px 0
            text-align: center
            font-size: 1.5em
            color: white

@media screen and (max-width: 1200px)
    body
        .catalogo
            .contenedor
                .productos
                    .producto
                        width: 48%

@media screen and (max-width: 630px)
    body
        header
            width: 100%
            height: 250px
            background-image: url('../img/foto2.jpg')
            background-position: -300px -400px
            background-size: cover
            background-repeat: no-repeat
            background-attachment: fixed
            .contenedor
                .contenedor_logo_menu
                    padding: 70px 0
                    display: flex
                    flex-direction: column
                    .logo
                        h1
                            font-size: 3em
                            color: white
                            text-align: center
                    .nav-menu
                        margin: auto
                        a
                            font-size: 1.3em
                            text-align: center
                            font-weight: 400
                            line-height: 50px
                            color: white
                            text-decoration: none
                            margin: 20px 5px
        .catalogo
            .contenedor
                .productos
                    .producto
                        width: 48%
                        margin-bottom: 20px
                        .texto-descriptivo
                            display: flex
                            flex-direction: column
                            .nombre
                                font-size: 1.5em
                                text-align: center
                                margin-bottom: 10px
                            .precio
                                font-size: 1.8em
                                text-align: center
                            .descripcion
                                display: none

@media screen and (max-width: 460px)
    body
        .catalogo
            .contenedor
                .productos
                    .producto
                        width: 48%
                        .texto-descriptivo
                            display: flex
                            flex-direction: column
                            .nombre
                                font-size: 1.2em
                                text-align: center
                                margin-bottom: 10px
                            .precio
                                font-size: 1.8em
                                text-align: center
                            .descripcion
                                display: none
